/* myStyle.css */

.navbar.transparent.navbar-inverse .navbar-inner {
   background: rgba(0,0,0,0.4);
}
body {
 background-color: #FFFFFF;
 color: #473c3c;
}
h1 {
 color: #000000;
 text-align: center;
 font: Nunito 100%;
}
h2 {
 color: #000000;
 text-align: center;
 font: italic 160% Arial;
}
p {
 background-color: #FFFFFF;
 color: #000000	;
 text-align: left;
 font: italic 100% Arial;
}
a {
	font-family: 'Lusitana', serif;
	font-size: 18px	;
}
.fit {
	max-width: 100%;
	height: auto;
}
.title {
	margin-top: 40px;
	text-indent: 80px;
	font-family: 'Lusitana', serif;
	font-size: 60px;
}
.info {
	position: absolute;
	left: 600px;
	margin-top: 160px;
	margin-right: 80px;
	font-family: 'Lusitana', serif;
	font-size: 40px;
}
.artwork {
	margin-top: 50px;
}