/* myStyle.css */
@font-face {
	font-family: PrimeLight;
	src: url('fonts/prime/PrimeLight.otf') format("opentype");
	font-weight: normal;
	font-style: normal;
}

.about {
	position: absolute;
	left: 100px; right: 0;
	top: 100px; bottom: 0;
	width: 600px;
	font-family: 'PrimeLight';
	font-size: 35px;
	color: yellow;
	opacity: 0.8;
}

body {
	background-color: #4901E6;
	background-image: url(images/grid.png);
	background-size: auto;
	background-repeat: repeat;
}

div {
	opacity: 1;
	transition: 0.1s opacity;
}

div.hidden {
	display: none;
}

.nav {
	color: yellow;
	position: absolute;
	left: 10px; right: 0;
	top: 10px; bottom: 0;
	opacity: 1;
}

.a {
	color: yellow;
}

.back {
	position: absolute;
	left: 10px; right: 0;
	top: 4px; bottom: 0;
	width: 40px;
	height: 10px;
	color: yellow;
	font-family: 'PrimeLight';
	font-size: 14px;
}

.border-container {
	position: absolute;
	left:0; right:0;
	top:0; bottom:0;
	margin: auto;
	width: 800px;
	max-width: 90%;
	height: 600px;
	border: 1.3px dashed rgba(255,255,0,0.3);
	border-radius: 10px;
	overflow: auto;
	overflow-y: hidden;
}

.center-text {
	position: absolute;
	left:0; right:0;
	top:255px; bottom:0;
	text-align: center;
	font-family: PrimeLight;
	color: yellow;
}

.centered{
	position: absolute;
	left:0; right:0;
	top:0; bottom:0;
	margin: auto;
	overflow: auto;
}

.p-box {
	position: absolute;
	left:35px; right:0;
	top:15px; bottom:0;
	font-family: PrimeLight;
	font-size: 15px;
	color: yellow;
	width: 580px;
	height: 140px;
	border: 1.3px dotted rgba(255,255,0,0.3);
	border-radius: 5px;
	background-color: rgba(255,255,255,0.07);
	overflow: auto;
}

.p-caption {
	position: absolute;
	left:0; right:0;
	top:35px; bottom:0;
	font-family: PrimeLight;
	text-align: left;
	font-size: 15px;
	color: rgba(255,255,0,0.85);
	width: 380px;
	height: 160px;
}

.p-container {
	position: absolute;
	left:0; right:0;
	top:0; bottom:0;
	font-family: PrimeLight;
	text-align: left;
	font-size: 15px;
	color: yellow;
	width: 620px;
	height: 160px;
}

.p-info {
	position: absolute;
	left:180px; right:0;
	top:10px; bottom:0;
	font-family: PrimeLight;
	font-size: 15px;
	color: yellow;
	width: 380px;
	height: 100px;
	overflow: auto;
}

.p-image {
	position: absolute;
	left:20px; right:0;
	top:0; bottom:0;
	font-family: PrimeLight;
	text-align: left;
	font-size: 15px;
	color: yellow;
	width: 180px;
	height: 125px;
	border: 1.6px dotted rgba(255,255,0,0.15);
	border-radius: 10px;
	background-color: rgba(255,255,255,0.08);
	opacity: 0.7;
}

.p-github {
	position: absolute;
	left:510px; right:0;
	top:10px; bottom:0;
}

.p-title {
	position: absolute;
	left:0; right:0;
	top:0; bottom:0;
	font-family: PrimeLight;
	text-align: left;
	font-size: 18px;
	color: yellow;
	width: 380px;
	height: 160px;
}

.title {
	position: absolute;
	left: 130px; right: 0;
	top: 38px; bottom: 0;
	font-family: 'PrimeLight';
	font-size: 50px;
	color: yellow;
}
