/* myStyle.css */

.navbar.transparent.navbar-inverse .navbar-inner {
   background: rgba(0,0,0,0.4);
}
body {
 background-color: #FFFFFF;
 color: #473c3c;
}
a {
	font-family: 'Montserrat', serif;
	font-size: 15px	;
}
a:hover {
	font-weight: bold; 
}

p {
	font-family: 'Lusitana', serif;
	font-size: 30px;
}

.active {
	font-weight: 900;
	font-size: 16px;
}

.fit {
	max-width: 100%;
	height: auto;
}
.title {
	margin-top: 40px;
	text-indent: 80px;
	font-family: 'Lusitana', serif;
	font-size: 60px;
}
.info {
	position: absolute;
	left: 600px;
	margin-top: 160px;
	margin-right: 80px;
	font-family: 'Lusitana', serif;
	font-size: 40px;
}
.artwork {
	margin-top: 15px;
}
.caption {
	margin-top: 20px;
	margin-bottom: 60px;
	font-family: 'Lusitana', serif;
	font-size: 25px;
	text-align: middle;
}


